.DS_Store
2022-07-11_Grimaldi-etal-ICIP.pdf
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.synctex(busy)
2022-02-18_Grimaldi-etal-ICIP.pdf
rebuttal.pdf
Grimaldi-etal-BiolCybernetics.pdf
Grimaldi-etal-BiolCybernetics.pdf
cover_letter/coverletter.pdf
cache
data/Olshausen_IMAGES.mat
data/vanhateren.npy
2023-09-14_HDSNN_video-abstract.mp4
